@model SosMulheres.Models.Relatos

@{
    ViewData["Title"] = "Relatos";
}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testemunhos</title>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/06c06c3fc2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="styleRelatos.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <header>
            <div class="row">
                <a href="index"><i class="fas fa-arrow-circle-left" id="font"><p id="volt">voltar à página inicial</p></i></a>
            </div>
        </header>


        <main>
            <br>
            <center>
                <h1><strong>Testemunhos</strong></h1>
            </center>
            <br>

            <div class="row">
                <div class="col-sm-12" id="testemunhos"></div>
            </div>

            <div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edição</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="Relatos">
                                <div id="comp">
                                    <div>
                                        <label for="nomeRel">Nome:</label>
                                        <input type="text" id="nomeEdit" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        <br>
                                    </div>
                                    <div>
                                        <label for="idadeRel">Idade na época: </label>
                                        <input type="text" id="idadeEdit" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        <br>
                                    </div>
                                    <div>
                                        <label for="dataRel">Data do ocorrido: </label>
                                        <input type="date" id="dataEdit" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        <br>
                                    </div>
                                    <div>
                                        <label for="testemunhoRel">Relato: </label>
                                        <textarea class="form-control" id="testemunhoEdit" id="exampleFormControlTextarea1" rows="3" required></textarea>
                                        <br>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" form="formEdit" id="editarRelato" class="btn btn-primary">Editar</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>



</body>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="relatos.js"></script>

</html>